


.jumbotron{
    background-attachment: fixed;
    background-image: url(img/bagan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}

.sidebar{
    background-color: black;
    width: 200px;
    height: 100vh;
}
.sidebar header{
    background-color: chocolate;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    font-family: fantasy;
    
}
/* .sidebar a{
    display: block;
    color: cornsilk;
    height: 60px;
    line-height: 65px;
    padding-left: 30px;
    text-transform: uppercase;
} */

#check{
    display: ruby;
}

label #btn, label{
    position: absolute;
    cursor: pointer;
    background: #226622;
    text-align: center;
    line-height: 45px;
    color: azure;
    font-size: 1px solid;
    border-radius: 5px;

}

label #cancel{
    opacity: 0;
    visibility: hidden ;

}

#check:checked label #btn{
    margin-left: 500px;
    opcity: 0;
    visibility: hidden;
}

#check:checked label #cancel{
    margin-left: 500px;
    opacity: 1;
    visibility: visible;
}